@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--background);
  --foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--foreground);
    --foreground: var(--background);
  }
}

body {
  box-sizing: border-box;
  color: var(--foreground);
  cursor: none;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1280px) {
  #linterna {
    position: fixed;
    width: 350px;
    height: 350px;
    pointer-events: none;
    background: radial-gradient(circle, #1e215981 1%, transparent 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }
}

/* Oculto cuando no está visible */
.hidden-opacity {
  opacity: 0;
  transform: translateX(100px); /* Mueve hacia abajo */
  visibility: hidden; /* Elimina la visibilidad */
  transition: opacity 1s ease, transform 1s ease-in, visibility 0s 1s; /* La visibilidad cambia después de la animación */
}

/* Visible cuando está dentro del viewport */
.visible-opacity {
  opacity: 1;
  transform: translateX(0); /* Resetea la posición */
  visibility: visible; /* Hace visible el componente */
  transition: opacity 1s ease, transform 1s ease-out, visibility 0s 0s; /* La visibilidad no se retrasa */
}
